*{
    text-align: center;
    margin: auto;
    color: #555;
    font-weight: 500;
}

a{
    color: white;
    padding: 20px 30px 20px 30px;
}

body{
    background-color: #555;
}

.btn{
    background-color: #454b66;
    color: white;
    border-radius: 30px;
}

.btn:hover{
    background-color: #5b627e;
}

p{
    margin-top: 10px;
    margin-bottom: 0;
}

.container{
    background-color: #93B7Be;
    margin: 50px auto auto auto;
    border-radius: 30px;
}

#title{
    margin-top: 1.5em;
}

#header{
    display: inline-block;
    width: 100%;
}

#dogText{
    margin:10px;
}

i:hover{
    color:red;
    font-size: 1.5em;
}

th:hover{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #a3d1d8;
 }

button{
    background-color: #FFFCF7;
    color: #4C4C47;
    font-weight: bold;
}

input[type=text]{
    width: 75%;
    text-align: center;
    margin:  5px auto 20px auto;
}

.form-control{
    width: 75%;
    margin: 5px auto 20px auto;
}
