*{
    text-align: center;
    margin: auto;
}

a{
    color: white;
    padding: 20px 30px 20px 30px;
}

body{
    background-color: #555;
}

.container{
    background-color: royalblue;
    margin: 50px;
    border-radius: 10px;
}

#title{
    margin-top: 1.5em;
}

#header{
    display: inline-block;
    width: 100%;
}

#dogText{
    margin:10px;
}

th:hover{
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

input[type=text]{
    width: 25%;
    text-align: center;
    margin:  5px auto 20px auto;
}

.form-control{
    width: 35%;
    margin: 5px auto 20px auto;
}
