<div id="header" class="row">
        <!--Text Box for Searching Dog Info-->
        <div class="text col-sm-6">
            <p>Type to search by breed, click on column headers to sort.</p>
            <input type="text"
            id="dogText"
            ng-model="dogText.breed">
        </div>
</div> <!--end header-->

<div id="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" ng-click="sortBy='breed';reverse=!reverse">Breed<i class="fas fa-sort"></i></th>
                    <th scope="col" ng-click="sortBy='description';reverse=!reverse">Description<i class="fas fa-sort"></i></th>
                    <th scope="col" ng-click="sortBy='size';reverse=!reverse">Size<i class="fas fa-sort"></i></th>
                    <th scope="col" ng-click="sortBy='lifespan';reverse=!reverse">Lifespan<i class="fas fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" ng-repeat="dog in data | filter:dogText | orderBy:sortBy:reverse">
                    <td><div ng-click="removeDog(dog)">
                        <i class="fas fa-trash"></i>
                    </div></td>
                    <td>{{ dog.breed }}</td>
                    <td>{{ dog.description }}</td>
                    <td>{{ dog.size }}</td>
                    <td>{{ dog.lifespan }}</td>
                </tr>
            </tbody>
            
        </table>
        
    </div>